body {
  font-family: Overpass;
  background-color: #d3d3d3;
  color: #2C3639;
  text-align: center;
  padding: 25px;
}

h1, h2{
  font-family: Chivo;
  color: #2C3639
}

li {
display: inline;
}

ul {
  padding: 0;
}

a {
  text-decoration: none;
  color: #A27B5C;
  font-size: 18px;
  transition: 0.3s ease;
}

a:hover {
  color: #090908;
}

#profile-pic {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.card {
  background: #F1F1F1;
  box-shadow: 0 10px 30px rgba(0,0,0,.2);
  padding: 30px;
  width: 400px;
  margin: 10px auto;
  border-radius: 5px;
  border: 1px solid #EAEAEA;
}

.social-links i {
  display: inline;
  margin: 10px;
  font-size: 30px;
}

.btn {
  text-decoration: none;
  background-color: #A27B5C;
  color: white;
  font-family: Chivo;
  padding: 10px 10px;
  font-weight: 700;
  margin: 100px 0px;
  border-radius: 5px;
}

.m-b {
  margin-bottom: 25px;
}

@media (max-width: 960px) {
  body {
    padding: 10px;
  }

  .card {
    width: 700px;
  }
}

@media (max-width: 720px) {
  body {
    padding: 10px;
  }

  .card {
    width: 500px;
  }
}

@media (max-width: 540px) {
  body {
    padding: 5px;
  }
  
  .card {
    width: 300px;
  }
}
